{% extends "layout.html" %}

{% block content %}

<h1>All Sessions </h1>


<table style="width:90%">
  <tr>
    <th>Session No.</th>
    <th>Date of Game</th>
    <th>Player Name</th>
    <th>Score </th>
    <th>Player Name</th>
    <th>Score </th>
    <th>Player Name</th>
    <th>Score </th>
    <th>Player Name</th>
    <th>Score </th>
  </tr>
  {% for score in allsessions %}
    <tr>
    {% for key, value in score.items() %}
    <td>{{ key }} </td>
    <td>{{ value }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>



{% endblock %}
