table {
border-collapse: collapse;
width: 100%;
color: lightblue;
font-family: monospace;
font-size: 8px;
text-align: left;
}

th {
background-color: lightblue;
color: white;
}

.col-md-3 {
    background: white;
}

.col-md-3#run {
        background: lightblue;
}

.col-md-3#walk {
        background: lightgreen;
    }

.col-md-3#row {
        background: lightpink;
    }

.col-md-3#pull {
        background: lightyellow;
    }

}
