{% extends "layout.html" %}

{% block content %}
<div class='container'>

<h2>All Sessions </h2>
  <div class="table-responsive">
<table class="table table-striped table-bordered">
  <tr>
    <th>Date of Game</th>
    {% for player in players %}
    <th>{{ player.name }}</th>
    {% endfor %}
  </tr>
  {% for score in allsessions %}
    <tr>
    {% for key, value in score.items() %}
    <td>{{ value }}</td>
    {% endfor %}
    </tr>
    <tr></tr>
  {% endfor %}
</table>
<div>
</div>
{% endblock %}
