{% extends "layout.html" %}

{% block content %}
<div class='container'>
<table style="width:90%">
  <tr>
    <th>id</th>
    <th>gamedate</th>
    <th>playerone_id</th>
    <th>playertwo_id </th>
    <th>playerthree_id</th>
    <th>playerfour_id </th>
    <th>playerone_score</th>
    <th> playertwo_score </th>
    <th>playerthree_score</th>
    <th>playerfour_score</th>
  </tr>
{% for session in realsessions %}
<tr>
<td> {{ session.id }} </td>
<td>{{ session.gamedate }}</td>
<td> {{ session.playerone_id }} </td>
<td>{{ session.playertwo_id }}</td>
<td> {{ session.playerthree_id }} </td>
<td>{{ session.playerfour_id }}</td>
<td> {{ session.playerone_score }} </td>
<td>{{ session.playertwo_score }}</td>
<td> {{ session.playerthree_score }} </td>
<td>{{ session.playerfour_score }}</td>
  </tr>
{% endfor %}

</table>

<div class="form-group">
  <form action="/deletesession" method="POST">
  <h4>Insert Session Number To Delete </h4>
  <input type="number" name="sessiontodelete" id="sessiontodelete" required></td>
  <button type="submit" class="btn btn-primary">delete session number</button>
  </form>
</div>

 </div>
{% endblock %}
