{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}

<script data-ad-client="ca-pub-3885577411583615" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="static/index.js"></script>

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('allsessions') }}">🀄All Sessions</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('players') }}">📋Player Records</a></li>
        <li><a href="{{ url_for('sessions') }}">▶Create New Session</a></li>
        <li><a href="{{ url_for('deletesession') }}">🚧Delete Session</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" TYPE="text/css" href="{{url_for('.static', filename='style1.css')}}">
{% endblock %}


{% block content %}
{% endblock %}
