{% extends "bootstrap/base.html" %}

{% block title %}Layout{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('allsessions') }}">All Sessions</a>
      </div>
      <ul class="nav navbar-nav">

        <li><a href="{{ url_for('players') }}">Players Overall Records</a></li>
        <li><a href="{{ url_for('sessions') }}">Create New Session</a></li>
        <li><a href="{{ url_for('deletesession') }}">Delete Sessions</a></li>
      </ul>
    </div>
  </nav>
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style1.css')}}">
{% endblock %}
{% block content %}
{% endblock %}
