{% extends "layout.html" %}

{% block content %}
<div class='container'>
<h1>All Players </h1>

<table style="width:90%">
  <tr>
    <th>Name of Player</th>
    <th>Games Played</th>
    <th>Lifetime</th>
    <th>Average Score</th>
  </tr>
  {% for player in players %}
     <tr>
          <td> {{ player.name }}</td>
          <td> {{ player.gamesplayed }}</td>
          <td> {{ player.lifetime }}</td>
          <td> {{ player.averagescore }}</td>
     </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
