{% extends "layout.html" %}

{% block content %}
<div class='container'>
  <div class="jumbotron">
<h3>All Players </h3>
  <div style="overflow-x:auto;">
<table>
  <tr>
    <th>Name of Player</th>
    <th>Games Played</th>
    <th>Lifetime</th>
    <th>Average Score</th>
  </tr>
  {% for player in players %}
     <tr>
          <td> {{ player.name }}</td>
          <td> {{ player.gamesplayed }}</td>
          <td> {{ player.lifetime }}</td>
          <td> {{ player.averagescore }}</td>
          <td></td>
     </tr>
  {% endfor %}
</table>
<div>
</div>
</div>
{% endblock %}
