{% extends "layout.html" %}

{% block content %}
<div class='container'>


  <h1>Input Session Details</h1>
    <div class="form-group">
      <form action="/createsession" method="POST">
      <h3>Date of Session </h3>
      <br>
      <br>
      <input placeholder="dd-mm-yyyy" type="date" id="sessiondate" name="sessiondate" required>
      <br>
      <br>
      <br>
      <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Player</th>
          <th>Name of Player</th>
          <th>Score</th>
        </tr>
           <tr>
                <td> First </td>
                <td> <input list="players" name="firstplayername" id="firstplayername" required></td>
                <td> <input type="number" step="0.01" name="firstplayerscore" id="firstplayerscore" required><td>
                <button id="negative1" class="btn btn-secondary">Negative</button>
           </tr>
           <tr>
                <td> Second </td>
                <td> <input list="players" name="secondplayername" id="secondplayername" required></td>
                <td> <input type="number" step="0.01" name="secondplayerscore" id="secondplayerscore" required><td>
                <button id="negative2" class="btn btn-secondary">Negative</button>
           </tr>
           <tr>
                <td> Third </td>
                <td> <input list="players" name="thirdplayername" id="thirdplayername" required></td>
                <td> <input type="number" step="0.01" name="thirdplayerscore" id="thirdplayerscore" required><td>
                <button id="negative3" class="btn btn-secondary">Negative</button>
           </tr>
           <tr>
                <td> Fourth </td>
                <td> <input list="players" name="fourthplayername" id="fourthplayername" required></td>
                <td> <input type="number" step="0.01" name="fourthplayerscore" id="fourthplayerscore" required><td>
                <button id="negative4" class="btn btn-secondary">Negative</button>
           </tr>

      </table>
      </div>
          <datalist id="players">
            {% for player in players %}
              <option value="{{ player.name }}">{{ player.name }}</option>
            {% endfor %}
          </datalist>
          <button type="submit" class="btn btn-primary">Submit Session</button>
      </form>
</div>
</div>
{% endblock %}
